/* ******************INDSTILLINGER For opgave 1-20*************** */
/* ***************Det er herunder du skal rette:***************** */

/*-------------------------------boks 1--------------------------------*/

.box1 .content {
  /*Her styles teksten*/
  color: #ffffff;
  font-size: 1.6em;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: magenta 5px 5px 10px;
}

/*-------------------------------boks 2--------------------------------*/

.box2 .content {
  /*Her styles teksten*/
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  font-weight: 350;
}

/*-------------------------------boks 3--------------------------------*/

.box3 .content {
  /*Her styles teksten*/
  text-shadow: 2px 2px 2px rgb(161, 223, 54);
  color: rgb(28, 153, 0);
  font-size: 1.4em;
  text-indent: 30px;
}
.box3 .content p::first-letter {
  text-shadow: 2px 2px 2px rgb(141, 189, 51);
  color: rgba(69, 69, 251, 0.859);
  font-size: 2.3em;
}

/*-------------------------------boks 4--------------------------------*/

.box4 .content {
  /*Her styles teksten*/
  color: red;
  font-size: 1.4em;
  text-transform: uppercase;
}

/*-------------------------------boks 5--------------------------------*/

@font-face {
  /*Her har jeg skrevet @font-face koden for dig - i den næste opgave skal du selv skrive den*/
  font-family: minFont;
  src: url("elriolobo/elriott2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.box5 .content {
  /*Her skriver du koden og bruger fonten (minFont)*/
  font-family: minFont;
  font-size: 4em;
  color: rgb(255, 153, 0);
}

/*-------------------------------boks 6--------------------------------*/

@font-face {
  /*Minder om forrige eksempel - husk at bruge et andet navn*/

  /*Her skriver du koden og bruger fonten (minAndenFont)*/
  .box6 .content {
    color: red;
    font-size: 3em;
    font-weight: 300;
  }
}

/*-------------------------------boks 7--------------------------------*/

.box7 .content {
  /*Her bruger du fonten (husk at linke til google-fonten i head i din html)*/
  color: rgb(68, 114, 240);
  font-size: 4em;
  .krona-one-regular {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

/*-------------------------------boks 8--------------------------------*/

.box8 .content {
  /*Her bruger du google-fonten (som du linker til i din html)*/
  .pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }
  color: blueviolet;
  font-size: 4em;
}

/*-------------------------------boks 9--------------------------------*/

.box9 .content {
  /*Her styles teksten*/
  background-color: rgb(221, 250, 174);
  font-size: 1.2em;
  line-height: 0.64cm;
}

/*-------------------------------boks 10--------------------------------*/

.box10 .content {
  /*Her styles teksten*/
  font-size: 1.2em;
  letter-spacing: 0.4;
}

/*-------------------------------boks 11--------------------------------*/

.box11 .content a {
  /*Her styles dit link*/
  color: red;
  text-decoration: none;
  font-weight: 600;
}

/*-------------------------------boks 12--------------------------------*/

.box12 .content {
  /*Her indsættes baggrundsbillede vha. background-image og background-size */
  background-image: url(bg_images/himmel.jpeg);
  background-size: 100%;

  /*Her styles teksten*/
  font-size: 2em;
  font-weight: 700;
  color: rgb(171, 0, 0);
}

/*-------------------------------boks 13--------------------------------*/

.box13 .content {
  /*Her styles teksten (størrelse og "weight")*/
  font-size: 4em;
  font-weight: 700;
  color: transparent;
  /*Her indsættes baggrundsbillede vha. background-image og background-size */
  background-image: url(bg_images/himmel.jpeg);
  background-size: cover;
  background-clip: text;
  /*Her indsættes baggrundsbilledet som fyld i teksten og teksten gøres transparent*/
}

/*-------------------------------boks 14--------------------------------*/

.box14 .content {
  /*Her indsættes gradient vha. background-image*/
  background: linear-gradient(
    rgb(250, 52, 227),
    rgba(244, 239, 160, 0.621),
    rgb(255, 0, 0)
  );

  /*Her styles teksten*/
  font-size: 30px;
  font-style: italic;
  color: whitesmoke;
  text-align: right;
}

/*-------------------------------boks 15--------------------------------*/

.box15 .content {
  /*Her indsættes de to baggrunde vha. background separeret af komma - husk at den der skal ligge øverst skal stå først*/
  background-image: url(bg_images/blomst.png),
    -o-linear-gradient(to right, #feac5e, #c779d0, #3bd4ff);
  /* størrelse på de to baggrunde separeret af komma */
  background-size: 25%, cover;
  /* skal baggrundsbilledet gentages? */
  background-repeat: no-repeat no-repeat;
  /* Hvor skal baggrundsbilledet placeres? */
  background-position: right bottom;
  /*Her styles teksten*/
  font-size: 20px;
  color: white;
}

/*-------------------------------boks 16--------------------------------*/

.box16 .content {
  /*Her indsættes gradient vha. background-image*/
  background-image: repeating-radial-gradient(
    circle at top left,
    black 0px,
    maroon 13px,
    pink 30px,
    white 40px
  );
}

/*-------------------------------boks 17--------------------------------*/

.box17 .content {
  /*Kode som flexer indholdet*/
  display: flex;
  justify-content: space-around;
  /*Kode som sætter baggrundsbillede (himmel.jpg ind)    */
}

/*Kunne gøres smartere, men så blev det lidt for besværligt for de studerende:*/

.box17 .content .kvadrat1 {
  /*Styling af de to bokse: width, height og border*/
  width: 100px;
  height: 100px;
  border: 1px dashed magenta;

  /*Indsæt selv blomsten med background-image og background-size*/

  /*Baggrundsfarve*/
}

.box17 .content .kvadrat2 {
  /*Styling af de to bokse: width, height og border*/
  width: 100px;
  height: 100px;
  border: 1px dashed magenta;

  /*Indsæt blomsten med background-image og background-size*/

  /*Baggrundsfarve*/
}

/*-------------------------------boks 18--------------------------------*/

.box18 .content {
  /*Kode som flexer indholdet*/
  display: flex;
  justify-content: center;
  /*Indsæt blåt baggrundsbillede*/
}

.box18 .content .kvadrat {
  /*Styling af boksen: width & height*/

  /*Indsæt blomsten med background-image og background-size*/

  /*Brug filter så blomsten får en sepia toning*/
}

/*-------------------------------boks 19--------------------------------*/

/*Her kan du lave din egen styling*/

/*-------------------------------boks 20--------------------------------*/

/*Her kan du lave din egen gradient*/
